<!DOCTYPE html>
<html>
<head>
  <title>HiveStats</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= link_to_unless_current 'Home', root_path %>

    <h1>Hive Android: Download Stats</h1>

    <table>
        <tr><td>Total installs</td><td>4025</td></tr>
        <tr><td>Current installs</td><td>2402</td></tr>
        <tr><td>Avg. daily installs (last 7 days)</td><td>46</td></tr>
        <tr><td>Number of ratings</td><td>96</td></tr>
        <tr><td>Average rating</td><td>4.33 / 5</td></tr>
    </table>

    data source: manual import on 2014-08-18

    <%= yield %>

    <footer>
      data source: <a href="https://api.github.com/repos/hivewallet/hive-osx/releases" >Github</a>
    </footer>
  </div>
</body>
</html>
