<!DOCTYPE html>
<html>
<head>
  <title>HiveStats</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= link_to_unless_current 'Home', root_path %>

    <h1>Hive Android: Download Stats</h1>

    <table>
        <tr><td>Total installs</td><td>1033</td></tr>
        <tr><td>Current installs</td><td>591</td></tr>
        <tr><td>Avg. daily installs (last 7 days)</td><td>16</td></tr>
        <tr><td>Number of ratings</td><td>25</td></tr>
        <tr><td>Average rating</td><td>4 / 5</td></tr>
    </table>

    data source: manual import on 2015-01-13

    <h1>Hive Android Legacy: Download Stats</h1>

    <table>
        <tr><td>Total installs</td><td>7830</td></tr>
        <tr><td>Current installs</td><td>3398</td></tr>
        <tr><td>Avg. daily installs (last 7 days)</td><td>24</td></tr>
        <tr><td>Number of ratings</td><td>155</td></tr>
        <tr><td>Average rating</td><td>4.34 / 5</td></tr>
    </table>

    data source: manual import on 2015-01-13

    <%= yield %>

    <footer>
      data source: <a href="https://api.github.com/repos/hivewallet/hive-osx/releases" >Github</a>
    </footer>
  </div>
</body>
</html>
